{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso - NunesTrader</title>
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="container">
    <div class="dashboard-section">
        <h3>Apenas usuários verificados e subscritos podem publicar</h3>
        <ol>
            <li>Entre no menu</li>0
            <li>Valide a sua conta</li>
            <li>Subscreva-se num dos planos pagos para vendedores</li>
        </ol>
    </div>
</body>
</html>