{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - NunesTrader</title>
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <div class="container">
    <div class="dashboard-section">
      <h1>Sobre Nós</h1>
      <p>
        Nós somos um site de vendas de diversos produtos locais e importados.<br>
        Vendemos diferentes artigos, desde roupas, calçados e até equipamentos eletrónicos. Somos a melhor solução para quem procura um lugar onde possa encontrar um bom leque de opções de compra.
      </p>
      <p>
        Você pode contactar-nos e ter seus produtos publicados aqui, através dos seguintes contactos:
      </p>
      <ul>
        
        <li>+258 834197405</li>
        <li>eyeseagle0625@gmail.com</li>
      </ul>
    </div>
  </div>
</body>
</html>