{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos & Condições - NunesTrader</title>
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <div class="container">
    <div class="dashboard-section">
      <h1>Termos & Condições</h1>
      <h3>Compradores</h3>
      <ul>
        <li>Devem cadastrar-se</li>
        <li>Devem ter a identidade confirmada</li>
        <li>Pagam uma taxa de 5% em cada compra feita</li>
        <li>Os pagamentos só são válidos se forem confirmados pelo Dumbanengue</li>
        <li>Qualquer dúvida ou problema, podem contactar as linhas de suporte</li>
      </ul>

      <h3>Vendedores</h3>
      <ul>
        <li>Devem cadastrar-se</li>
        <li>Devem ter a identidade confirmada</li>
        <li>Podem publicar produtos apenas se tiverem um plano pago (mensal, semestral ou anual)</li>
        <li>Devem cumprir com os prazos de entrega</li>
        <li>Devem manter a qualidade dos produtos oferecidos</li>
        <li>O nao cumprimento dos prazos resulta numa multa de 5% por cada dia de atraso</li>
        <li>O nao pagamento dessa multa pode resultar na suspensão da conta</li>
        <li>O nao cumprimento destes termos pode resultar na suspensão da conta</li>
        <li>Qualquer fraude,burla ou tentativa de fraude(incluindo o envio de comprovativos falsos) resulta na suspensão da conta e possibilidade de acções legais</li>

      </ul>
    </div>
  </div>
</body>
</html>